/* Stile.css */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Rubik&display=swap");

* {
    font-family: "Rubik", sans-serif;
}

.projects {
    height: 100%;
    width: 100%;
    border: solid 1px white;
    border-radius: 10px;
}

.title {
    text-align: center;
}

.projects_sez {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin: 1em;
}

h1{
    margin-top: 1em;
    font-size: 3em;
    color: #ff8400;
}

h2{
    margin-bottom: 1em;
    color: #FFD700;
}

.meteo_img {
    align-items: center;
    height: 70%;
    width: 70%;
    border-radius: 30px;
}

.meteo_desc {
    text-align: left;
    
}

.meteo_btn {
    background-color: white;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    margin-top: 0.5em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.meteo_btn:hover {
    color: white;
    background-color: #282828;
}
.meteo {
    text-align: center;
    align-content: center;
}

hr{
    width: 100%;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}
