@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Rubik&display=swap");

* {
    font-family: "Rubik", sans-serif;
}

.projects {
    height: 100%;
    width: 97%;
    margin: auto;
    /* border: solid 1px rgb(174, 174, 174); */
    border-radius: 10px;
    background-color: #141414;
}

.title {
    text-align: center;
    padding-top: 20px;
}

.projects_sez {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin: 1em;
}

h1 {
    font-size: 4.3em;
    color: #ff8400;
}

.weather {
    margin-bottom: 1em;
    color: #ffd700;
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line */
    flex: 1;
}

.whatsapp {
    margin-bottom: 1em;
    color: #25d366;
}

.meteo_img {
    align-items: center;
    height: 80%;
    width: 80%;
    border-radius: 30px;
}

.meteo_desc {
    text-align: center;
}

.meteo_btn {
    background-color: white;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    margin-top: 0.5em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.meteo_btn:hover {
    color: white;
    background-color: #282828;
}
.sezioni {
    text-align: center;
    align-content: center;
    margin-right: 100px;
    margin-left: 100px;
}

hr {
    width: 100%;
    color: white;
    margin-top: 1em;
    margin-bottom: 10px;
}

.weather_img {
    width: 50px; /* Adjust this value as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px;
}

.whatsapp {
    margin-bottom: 1em;
    color: #25d366;
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line */
    flex: 1;
    
}

.whatsapp_img {
    width: 50px; /* Adjust this value as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px; /* Adjust this value as needed */
}

.videowhatsapp{
    border-radius: 30px;
    width: 105%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.videoweather{
    border-radius: 30px;
    width: 85%;
    height: auto;
    
}

.whatsapp_desc,.sart_desc {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.whatsapp_btn,.sart_btn{
    background-color: white;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    margin-top: 0.5em;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 10px;
}

.videosart{
    border-radius: 30px;
    width: 85%;
    height: auto;
}

.sart_img{
    width: 50px; /* Adjust this value as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10px;
}

.sart{
    margin-bottom: 1em;
    color: #1f9fea;
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line */
    flex: 1;
}

/* Media query per adattare lo stile su schermi di dimensioni ridotte */
@media only screen and (max-width: 1401px) {
    /* Modifiche di stile per schermi di dimensioni ridotte */
    .projects_sez {
        flex-direction: column;
    }

    .meteo_desc,
    .whatsapp_desc {
        margin: 0; /* Rimozione del margine laterale per adattarsi a schermi più piccoli */
    }
}
