.about{
    height: 100%;
    width: 100%;
    border: solid 1px white;
    border-radius: 10px;
}

.about_sez{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin: 1em;
    text-align: center;
}
