@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Rubik&display=swap');

.navbar {
    height: 5rem;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    background-color: rgba(0, 0, 0, 0.92);
    border-radius: 10px;
    
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
    cursor: pointer;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    position: relative;
}

.desktopMenuListItem::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Sposta la linea leggermente verso il basso */
    left: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    transition: height 0.3s ease, background-color 0.3s ease, bottom 0.3s ease; /* Aggiungi anche la transizione per bottom */
}

.desktopMenuListItem:hover::after {
    height: 3px;
    background-color: white;
}

.desktopMenuBtn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.desktopMenuImg {
    height: 2rem;
    width: 2rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 768px) {
    /* Modifiche di stile per schermi di dimensioni ridotte */
    .navbar {
        display: none;
    }

    .desktopMenuListItem {
        margin: 0.5rem 0; /* Riduce il margine per adattarsi ai dispositivi mobili */
    }
}
