@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


#intro {
    height: calc(100vh - 4rem);
    width: 100%;
    margin: 1em auto;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    left: 0;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    width: 50%;

}

.introContent {
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    animation: fadeInUp 1s ease-out forwards;
    align-items: flex-start;
}

.hello {
    color: #ff8400;
}

.introName {
    color: #FFAE42;

}

.profession {
    color: #FFD700;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
}

.btn {
    background-color: white;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    font-size: 0.5em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    color: white;
    background-color: #282828;
}

.cntc {
    vertical-align: -0.15em;
}

img{
    margin-right: 30px;
}

@media only screen and (max-width: 1208px) {
    
    .bg{
        display: none;
    }
}