.contactme {
    text-align: center;
    padding: 2em 0;
    background-color: #141414;
}

.title {
    font-size: 4.3em;
    color: #ff8400;
    margin-bottom: 1em;
}

.contactme_sez {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.contact_icon {
    color: white;
    font-size: 2.5em;
    transition: color 0.3s ease;
}

#linkedin:hover{
    color: #0077b5;
}

#instagram:hover{
    color: #e4405f;
}

#email:hover{
    color: #fff200;
}
